header, nav, section, article, aside, footer {
   display: block;
}

html {
	padding: 30px 0 100px 0;
	margin: 0;
	border-top: 70px solid #003580;
	background-color: #FFF;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 13px;
	position: relative;
}

body {
	padding: 0;
	margin: 0 auto;
	width: 960px;
}

section {
	margin: 0 0 20px 0;
	clear: both;
}

h1 {
	font-size: 32px;
	color: #0896FF;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	color: #666;
}

/* nav pagination */

.feed_pagination {
	width: 100%;
	clear: both;
	display: inline-block;
}

.feed_pagination .prev,
.feed_pagination .next {
	background-color: #E6EDF6;
	color: #0896FF;
	text-decoration: none;
	padding: 10px 14px;
	border-radius: 30px;
}

.feed_pagination .prev:hover,
.feed_pagination .next:hover {
	background-color: #D4E1F1;
	color: #003580;
}

.feed_pagination .prev {
	float: left;
}

.feed_pagination .next {
	float: right;
}


/* header */

.header {
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	padding: 10px 0;
	margin: 20px 0;
}

.hotel_name {
	margin: 0 0 5px 0;
}

.hotel_address {
	color: #999;
}

.stars {
	color: #FEBA02;
	margin-left: 10px;
}

/* photos */

.photos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.photos li {
	display: inline;
}

.photos li img {
	margin: 2px;
	width: 80px;
    border: 1px solid #FFF;
}

.photos li img:hover {
    opacity: 0.5;
    outline: 4px solid #8BA8D7;
}

/* reviews */

.reviews h2 small {
    float: right;
    font-size: 13px;
    line-height: 15px;
}

.reviews_list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.reviews_list li {
	padding: 10px 10px 10px 100px;
	background-color: #E6EDF6;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	min-height: 60px;
}

.reviews_list li cite:before {
	content: '— ';
}

.review_score {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	background-color: #003580;
	color: #FFF;
	text-align: center;
	font-size: 48px;
	border-radius: 5px;
}

.review_content {
	padding: 0;
	margin: 0;
}

.review_content cite {
	display: block;
	margin-top: 5px;
}

.reviews {
    border-top: 1px dotted #D9E1EC;
}

.reviews .pagination {
    margin-top: 24px;
    text-align: center;
}

.reviews .pagination ul,
.reviews .pagination li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.reviews .pagination a {
    background-color: #E6EDF6;
    color: #0896FF;
    border: 1px solid #FFF;
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
}

.reviews .pagination a:not(.disabled):hover,
.reviews .pagination li a.active {
    background-color: #D4E1F1;
    color: #003580;
}

.reviews .pagination > a:first-child {
    border-radius: 4px 0 0 4px;
}

.reviews .pagination > a:last-child {
    border-radius: 0 4px 4px 0;
}

.reviews .pagination > a.disabled {
    color: #D1DCF0;
    cursor: default;
}

.reviews .pagination li:first-child a {
    border-left: 0;
}

.reviews .pagination li a {
    border-right: 0;
}

/* rooms table */

.button {
	background-color: #0896FF;
	border-radius: 2px;
	border: 2px solid #FFF;
	padding: 5px 15px;
	color: #FFF;
	font-weight: bold;
	box-shadow: 0 0 3px #666;
	font-size: 13px;
	cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
	color: #FFF;
	background-color: #003580;
	border: 2px solid #FFF;
	box-shadow: 0px 0px 3px #444;
}

.rooms_table {
	width: 100%;
}

.rooms_table th, .rooms_table td {
	padding: 5px;
}

.rooms_table tbody tr:nth-child(2n) {
	background-color: #E6EDF6;
}

.rooms_table tbody tr:hover {
    background-color: #D4E1F1;
}

.rooms_table th {
	background-color: #003580;
	text-align: left;
	color: #FFF;
	font-weight: bold;
	padding: 10px 5px;
}

.rooms_table th a {
    color: #FFF;
    text-decoration: none;
    position: relative;
    margin-right: 10px;
}

.rooms_table th a:hover {
    color: #FEBA02;
}

.rooms_table th a.asc:after,
.rooms_table th a.desc:after {
    position: absolute;
    right: -12px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}

.rooms_table th a.asc:after {
    top: calc(50% - 2px);
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #FFF transparent;
}

.rooms_table th a.asc:hover:after {
    border-color: transparent transparent #FEBA02 transparent;
}

.rooms_table th a.desc:after {
    top: calc(50% - 2px);
    border-width: 4px 4px 0 4px;
    border-color: #FFF transparent transparent transparent;
}

.rooms_table th a.desc:hover:after {
    border-color: #FEBA02 transparent transparent transparent;
}

.rooms_table .room_name {
	font-weight: bold;
}

.rooms_table .room_occupancy {
	text-align: center;
	width: 100px;
}

.rooms_table .room_price {
	text-align: right;
	width: 100px;
}

.rooms_table .room_quantity {
	text-align: center;
	width: 150px;
}

.rooms_table tfoot td {
	padding-top: 10px;
	text-align: right;
}



/* footer */

.footer {
	color: #FFF;
	display: block;
	width: 100%;
	text-align: center;
	background: #003580;	
	margin: 0;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Facilities */

.facilities ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.facilities li {
	display: inline-block;
	width: 220px;
	box-sizing: border-box;
	border: 1px solid #CCC;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
}

.facilities li:before {
	content: '✔ ';
	color: #0896FF;
}

/* Gallery */

#gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    display: none;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#gallery .slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-clip: content-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#gallery .slide .label {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    padding: 20px 30px 30px;
    font-size: 16px;
}

#gallery .slide .label .text:first-letter {
    text-transform: uppercase;
}

#gallery .slide .label .text:after {
    content: '.';
}

#gallery .slide .label .slideshow {
    position: absolute;
    right: 0;
    font-size: 36px;
    color: #FFF;
    border-radius: 60px;
    background-color: #0896FF;
    cursor: pointer;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 30px;
    bottom: 0;
    box-sizing: border-box;
    padding: 0px 14px;
    z-index: 2000;
    text-decoration: none;
}

#gallery .slide .label .slideshow:hover {
    background-color: #003580;
}

#gallery .slide .label .counter {
    position: absolute;
    right: 0;
    padding: 5px;
    bottom: 0;
    font-size: 10px;
    width: 115px;
    text-align: center;
    color: #777;
}

#gallery .slide .close {
    position: absolute;
    display: block;
    top: 16px;
    right: 16px;
    font-size: 15px;
    text-decoration: none;
    color: #0896FF;
    padding: 6px 12px 6px 14px;
    background-color: #FFF;
    border-radius: 30px;
    opacity: 0.7;
}

#gallery .slide .close:hover {
    opacity: 1;
}

#gallery .prev,
#gallery .next {
    position: absolute;
    top: 40%;
    font-size: 26px;
    text-decoration: none;
    color: #0896FF;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    background-color: #FFF;
    opacity: 0.7;
}

#gallery .prev:hover,
#gallery .next:hover {
    opacity: 1;
}

#gallery .prev {
    left: 32px;
}

#gallery .next {
    right: 32px;
}

/* selector of sorting */

.sorting {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.sorting > .dropdown {
    position: relative;
    float: left;
}

.sorting .dropdown {
    position: relative;
    display: inline-block;
    padding: 4px 20px 4px 6px;
    margin: 0;
    margin-left: 2px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #0896FF;
}

.sorting .dropdown:after {
    position: absolute;
    right: 8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    top: calc(50% - 2px);
    border-width: 4px 4px 0 4px;
    border-color: #0896FF transparent transparent transparent;
}

.sorting ul {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 140px;
    padding: 4px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.176);
}

.sorting.open .dropdown,
.sorting:hover .dropdown{
    border-color: #DDD;
}

.sorting.open ul {
    display: block;
}

.sorting li {
    font-size: 13px;
    text-align: left;
    list-style: outside none none;
}

.sorting li > a {
    display: block;
    padding: 4px 12px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.sorting li > a:hover {
    background-color: #F7F7F9;
}
